body{
    font-family: "Open sans";
}
section{
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color:tomato;
}

button{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 700;
}

input{
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 20px;
}
